.lemenu{
  justify-content: space-between;
}

span{
  padding-right: 1rem;
  font-size: small;
}

.logo{
  font-size: medium;
}


mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
}

mat-sidenav{
  background-color: #FFFFFF;
  width: 300px;
}
